.radio_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .4rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    border-radius: .8rem;
    padding: .4rem;
}

.radio-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    gap: .8rem;
    border-radius: .4rem;
    padding: 1.1rem 1.6rem;
    & input,
    & input:focus,
    & input:hover{
        all: unset;
        position: absolute;
        inset: 0;
    }
    
    &:has(:checked) {
        background-color: var(--shape-hover);
  
        & label {
          font-weight: 600;
          color: var(--text-heading);
        }

        svg path {
            stroke: var(--brand-light);
        }
    }
    & label {
        margin: 0;
        font: var(--body-sm);
    }
}

.event-theme{
    margin-top: 2.8rem;

    & label{
        margin-bottom: 1.6rem;
        color: #ffffff;
    }
}
.color-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .color-inner{
        outline: 1px solid var(--input-stroke);
        position: relative;
        width: 4.0rem;
        height: 4.0rem;
        background: var(--shape-button);
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & input,
        & input:focus,
        & input:hover{
            all: unset;
            position: absolute;
            inset: 0;
         }

        .color{
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 100%;
        }

        &:focus-within,
        &:has(:checked) {
            outline: 2px solid var(--brand-light);
        }
    }
}

.select_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(13.4rem,1fr));
    gap: .8rem;

    & input,
    & input:focus,
    & input:hover{
        all: unset;
        position: absolute;
        inset: 0;

    }
    .select_inner{
        position: relative;
        border-radius: .8rem;
        background: var(--shape-button);
        outline: 1px solid var(--input-stroke);
        display: grid;
        gap: .8rem;
        justify-items: center;
        cursor: pointer;
        padding: .4rem .4rem 0 .4rem;
        
        img{
            width: 100%;
            object-fit: cover;
        }

        &:focus-within,
        &:has(:checked) {
            outline: 2px solid var(--brand-light);
        }
        
    }
}